# Logs & Reports
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/lerna-debug.log*
**/.pnpm-debug.log*

# Diagnostic reports
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
**/pids/
**/*.pid
**/*.seed
**/*.pid.lock

# Coverage & build outputs
**/coverage/
**/*.lcov
**/.nyc_output/
**/build/
**/dist/
**/out/
**/.next/
**/.nuxt/
**/.cache/
**/.parcel-cache/
**/.docusaurus/
**/.vite/
**/.vitepress/
**/.serverless/
**/.fusebox/
**/.dynamodb/
**/.tern-port

# Dependency dirs
**/node_modules/
**/jspm_packages/
**/bower_components/
**/web_modules/

# TypeScript cache
**/*.tsbuildinfo

# Various caches
**/.npm/
**/.eslintcache
**/.stylelintcache
**/.rpt2_cache/
**/.rts2_cache_*/
**/.temp/
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/.pnp.*

# dotenv environment variable files (!!! CRITICAL !!!)
**/.env*
!**/.env.example

# Output of 'npm pack'
**/*.tgz

# IDE
**/.vscode/
**/.idea/

# System
**/.DS_Store
**/Thumbs.db
**/*.swp

# Yarn v2
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz

# Optional: lock files (CI/CD için tutmak istersen bu kısmı silebilirsin)
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml
**/bun.lockb
